select{
  font-size: 20px;
  padding: 10px 10px 10px 5px;
  -webkit-appearance: none;
  background-color: transparent;
  border-width: 0;
  border-bottom: 1px solid #757575;
  width: 100%;
  display: block;
  border-radius: 0;

}
