.group { 
  position:relative; 
  margin-bottom:45px; 
  width: 100%;
  &.half{
    width: 48%;
  }
}

input {
  font-size:20px;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
  .error &{
    border-color: $contrastColor;
  }

}
input[placeholder]{
  margin-top: -30px;
  margin-bottom: -40px;
}

/* LABEL ======================================= */
label 				 {
  color:#999; 
  // font-size:18px;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
  span{
    color: $grey;
    // padding-left: 5px;
    display: inline-block;
    transform: scale(0.8); 
  }
}

/* active state */
select ~ label, input:focus ~ label, input.valid ~ label, .error label, input[type="date"] ~ label{
  top: -20px;
  font-size: $f-label;
  color: $mainColor;
   &{
    // color: $contrastColor;
  }
}


/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:100%; top:1px;}
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:$mainColor; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}


/* BUTTONs ======================================= */
.myBtn{
  background-color: $mainColor;
  cursor: pointer;
  padding: 15px;
  border-radius: 8px;
  color: $w;
  border-width: 0px;
  display: block;
  width: 100%;
  font-size: $f-base;
  &:hover{
    background-color: darken($mainColor, 6);
  }
  &:disabled{
    background-color: $subColor;
  }
  &.btnBorder{
    color: $mainColor;
    border: 1px solid $mainColor;
    background-color: transparent;
  }
}
