
.step-content, .creditCard{
  padding-top: 45px;
  // &.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  // }
}
.btnBorder{
 display: flex;
 justify-content: space-around;
 padding: 40px;
 margin-bottom: 40px;
 position: relative;
 .file-upload-input{
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
 }
 .content{
   padding-left: 15px;
 }
 h2{
   padding-bottom: 4px;
   text-align: left !important;
 }
 i{
   font-size: 50px;
 }
}
.card-wrapper{
  margin: 0 auto;
}

.form{
  h1,h2{
    text-align: center;
    line-height: 1.3;
  }
}


/* STEPS ======================================= */
.steps{
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 40px auto;
}
.step{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid $subColor;
  position: relative;
  &::before{
    content: "";
    position: absolute;
    width: 56px;
    // width: 92px;
    height: 2px;
    background-color: $subColor;
    left: 14px;
    top: calc(50% - 2px);
    @include mobile{
      width: 63px;
    }
  }
  &.is-done{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: $mainColor;
    &::before{
      background-color: $mainColor;
    }
  }
  &.is-now{
    border-color: $mainColor;
    &::after{
      content: "";
      width: 75%;
      height: 75%;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: $mainColor;
    }
    
  }
  &:last-of-type{
    &::before{
      width: 0;
    }
  }
}



// uploadImg
.uploadImg-wrapper{
  display: flex;
  margin-bottom: 40px;
  
}
.uploadImg{
  border-radius: 8px;
  max-width: 140px;
  margin: 0 5px;
  align-self: center;
  // height: 140px;
  overflow: hidden;
  flex: 1;
  img{
    width: 100%;
  }
}
